@font-face {
    font-family: 'Fontcraft Courier Heavy';
    src: url('path/to/fontcraft-courier-heavy.woff2') format('woff2'),
         url('path/to/fontcraft-courier-heavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #000000;
    font-family: sans-serif;
    color: aliceblue;
    margin-top: 10px;
}

.text-gradient {
    background-image: linear-gradient(to right, white, #8f3030, #cf1010, red);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header {
    font-family: 'Fontcraft Courier Heavy', monospace;
    font-size: 2em; /* Adjusted for responsiveness */
    text-align: center; /* Centered for better appearance */
    margin: 20px auto;
    width: 90%;
}

.sub_header {
    font-family: 'Fontcraft Courier Heavy', monospace;
    font-size: 1.5em; /* Adjusted for responsiveness */
    text-align: center; /* Centered for better appearance */
    margin: 20px auto;
    width: 90%;
}

.gallery {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: auto; /* Center the gallery horizontally */
    margin-bottom: 100px;
}

.gallery-wrapper {
    display: flex;
    animation: scroll 20s linear infinite;
}

.gallery img {
    width: 100%; /* Adjusted for responsiveness */
    max-width: 300px; /* Limits the max width for larger screens */
    margin: 0 10px;
    border-radius: 10px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
    /* Add more keyframes to make the slideshow go faster */
    50% {
        transform: translateX(-50%);
    }
    75% {
        transform: translateX(-75%);
    }
}

.disblog {
    font-family: sans-serif;
    font-size: 1em; /* Adjusted for responsiveness */
    text-align: justify;    
    margin: 0 auto; /* Centered for better appearance */
    width: 90%;
    border: 5px solid rgb(82, 82, 82);
    padding: 20px;
}

.title {
    color: #9b0000;
}

.keypoints {
    color: #ff0000;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .header, .sub_header {
        font-size: 1.5em; /* Smaller font size for smaller screens */
        margin: 10px auto;
    }
    
    .gallery img {
        width: 100%; /* Full width on smaller screens */
    }
    
    .disblog {
        font-size: 0.9em; /* Slightly smaller font size */
        margin: 10px;
        width: auto; /* Full width on smaller screens */
    }
}

/* Responsive design for extra small screens */
@media (max-width: 480px) {
    .header, .sub_header {
        font-size: 1.2em; /* Even smaller font size */
    }
    
    .disblog {
        font-size: 0.8em; /* Smaller font size */
    }
}